.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 4px;
  user-select: none;
  transition: 0.1s border ease-in-out, 0.1s background ease-in-out, 0.1s color ease-in-out;
  font-size: 100%;

  &--primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: lighten($primary, 5%);

    }
  }
}
