input[type='search'], input[type='text'], input[type='number'], input[type='password'], textarea, input[type='email'] {
	outline: 0;
	border: 0;
	border-radius: 4px;
	color: $grey-dark;
  padding: 0.5rem 1rem;
  vertical-align: top;
}
