.splash {
  background-color: $black;
  color: $white;
  min-height: 12rem;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @include mq($md-screen) {
    background-position: center;
    min-height: 24rem;
  }
}
